{% extends 'layout.html' %}
{% block title %}Your Stream{% endblock %}

{% block header %}
<form method="post">
	{% csrf_token %}
		<button type="submit" class="button button-small">Unsubscribe</button>
</form>
{% endblock %}

{% block content %}
<div id="photos">
</div>

<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
<script>
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('1339328b115c79a5da41', {
    encrypted: true
  });
  var channel = pusher.subscribe('photos-{{user.id}}');
  channel.bind('new', function(data) {
    var photos = document.getElementById('photos');
    var img = document.createElement('img');
    img.setAttribute('src', data.photo);
    photos.insertAdjacentElement('afterbegin', img);
  });
</script>
{% endblock %}
