{% extends 'layout.html' %}
{% block title %}subscribe{% endblock %}

{% block content %}
<p>
	Every wednesday morning you will receive few instagram photos picked specifically for you.
</p>
<p>
	Instagram doesn't let us access your email, please enter it to subscribe.
</p>
<form action="{% url 'console:subscribe' %}" method="post">
	{{ form.email }}
	<p>
		{% for error in form.email.errors %}
			<strong>{{ error|escape }}</strong>
	  {% endfor %}
	</p>
	{% csrf_token %}
	<button type="submit" class="button">Continue</button>
</form>
{% endblock %}
